<div id="date-me" style="height: 80%; width: 80%; position: absolute; left: 10%; top: 20%; text-align: center;">
    <div style="justify-content: center; display: flex;">
        <h1>Quer Namorar Comigo?</h1>
    </div>
    <div style="justify-content: center; display: flex; margin-bottom: 10px;">
        <button id="btn-yes" mat-button>Sim 😍</button>
        <button id="btn-no" *ngIf="condition !== 8" style="margin-left: 30px;background-color: rgb(189, 69, 69);z-index: 10;" mat-button (click)="changeButtonPosition()">Não 😔</button>
    </div>
    <div style="justify-content: center; display: flex;">
        <h4 style="z-index: 20;">{{hintText}}</h4>
    </div>
</div>