.date-div {
    height: 80%;
    width: 80%;
    position: absolute;
    left: 10%;
    top: 20%;
    text-align: center;
}

.buttons {
    margin-bottom: 10px;
}

h4 {
    z-index: 20;
}

#btn-no {
    margin-left: 30px;
    background-color: rgb(189, 69, 69);
    z-index: 10;
}
