<div id="wrapper1">
	<div id="pulsingheart"></div>
</div>
<div id="wrapper2">
	<div id="pulsingheart"></div>
</div>
<div id="wrapper3">
	<div id="pulsingheart"></div>
</div>
<div id="wrapper4"> 
	<div id="pulsingheart"></div>
</div>
<div id="wrapper5">
	<div id="pulsingheart"></div>
</div>
<div id="wrapper6">
	<div id="pulsingheart"></div>
</div>
<div id="wrapper7">
	<div id="pulsingheart"></div>
</div>
<div id="wrapper8">
	<div id="pulsingheart"></div>
</div>
<div id="wrapper9">
	<div id="pulsingheart"></div>
</div>
<div id="wrapper10">
	<div id="pulsingheart"></div>
</div>
<div id="wrapper11">
	<div id="pulsingheart"></div>
</div>
<div id="wrapper12">
	<div id="pulsingheart"></div>
</div>
<div id="wrapper13">
	<div id="pulsingheart"></div>
</div>
<div id="wrapper14">
	<div id="pulsingheart"></div>
</div>
<div id="wrapper15">
	<div id="pulsingheart"></div>
</div>
<div id="wrapper16">
	<div id="pulsingheart"></div>
</div>
<div id="wrapper17">
	<div id="pulsingheart"></div>
</div>
<div id="wrapper18">
	<div id="pulsingheart"></div>
</div>
<div class="insideText">
    <div>QUE PASSEMOS <br> MUITOS MOMENTOS JUNTOS!!</div>
    <div>TE AMO MUITO ❤️</div>
</div>
<img class="img1" src="./assets/gableo1.jpeg" alt="" srcset="">
<img class="img2" src="./assets/gableo2.jpeg" alt="" srcset="">
<img class="img3" src="./assets/gableo3.jpeg" alt="" srcset="">
<img class="img4" src="./assets/gableo4.jpeg" alt="" srcset="">
